.btn {
    & button {
        width: 150px;
        height: 30px;  
        outline: none;
        border: none;
        background: linear-gradient(to right, skyblue -50%, purple 150%);
        cursor: pointer;  
    }
}

@media screen and (max-width: 850px) {
   .btn {
       & button {
           width: 110px;
       }
   }
}	

@media screen and (max-width: 768px) {
    .btn {
        & button {
            height: 20px;
        }
    }
}	

@media screen and (max-width: 600px) {
    .btn {
        & button {
            width: 80px;
        }
    }
}	