.pages {
    &__box {
        display: flex;
        &__left{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            margin-left: 20px;
            & img {
                width: 100%;
            }
        }
        &__right{
            width: 70%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            height: 30px;
            &__pic {
                width: 50px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                & img {
                    height: 100%;
                }
            }
            
        }
        &__result {
            width: 100%;
            font-size: 20px;
        }
    }
}


@media screen and (max-width: 960px) {
    .pages {
       &__box{
           &__right{
               align-items: flex-start;
           }
       }
    }
}	

@media screen and (max-width: 768px) {
    .pages {
       &__box{
           flex-direction: column;
           &__left {
               margin: 0 auto;
           }
           &__right {
               margin: 0 auto;
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
           }
           &__item {
               margin-bottom: 5px;
               height: 20px;
               &__pic {
                   height: 20px;
               }
           }
           &__result {
               font-size: 16px;
           }
       }
    }
}	