.auth {
    width: 80%;
    display: flex;
    margin: 20px auto;
    &__items{
        display: flex;
        align-items: center;
        &__input {
            width: 25vw;
            height: 30px;
            margin: 15px 15px 15px 0;
            border: 2px solid skyblue;
            padding-left: 10px;
            &--error {
                border: 2px solid red;
            }  
        } 
    }
    &__bottom {
        display: flex;
    }  
    &__error-text {
        color: red;
    } 
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
}	